// ––––––––––––––––––––––––––––––––––––
// Font Family
// ––––––––––––––––––––––––––––––––––––

.sans     { font-family: $font-sans; }
.mono     { font-family: $font-mono; }
.serif    { font-family: $font-serif; }

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}
