// ––––––––––––––––––––––––––––––––––––
// General Stuff
// ––––––––––––––––––––––––––––––––––––

html,
body {
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; // 1rem = 10px
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: $font-large;
  font-family: $font-serif;
  font-weight: 400;
  line-height: $line-height-base;
  letter-spacing: 0.01em;
  color: $grey-dark;
  box-sizing: border-box;
  // Better text rendering
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  // Custom stuff
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

main {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 2rem;
}

section { 
  padding: 6rem 0; 

  @media screen and (min-width: 450px) { 
    padding: 10rem 0;
  }
}

p { margin: 0; }
