// ––––––––––––––––––––––––––––––––––––
// Link
// ––––––––––––––––––––––––––––––––––––

a {
  color: $blue-light;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: $grey-dark;
  }
}
