// ––––––––––––––––––––––––––––––––––––
// Miscellaneous
// - Type Settings
// - Images and SVGs
// - Desktop Nav
// - Above the fold section
// - Above the fold section - headlines
// - Bride and Groom section
// - Proposal section
// - Wedding section 
// - Getting there
// - Things to do section
// - Share the love section 
// - Nav Link
// - overflow
// - ::selection
// - image
// ––––––––––––––––––––––––––––––––––––

// Type Settings
.section-title {
  position: relative;
  margin: 0 0 2rem;
  padding-bottom: 1rem;
  color: $grey;
  font-size: calc(23px + (25 - 23) * (100vw - 320px) / (1024 - 320));
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $grey-lightest;
  }

  @media screen and (min-width: 450px) { 
    margin: 0 0 3.5rem;
  }
}

.proposal-name,
.sans-link,
.detail-title,
.detail-content {
  font-family: $font-sans;
  text-transform: uppercase;
}

.proposal-name,
.sans-link,
.detail-title {
  font-size: $font-base;
  font-weight: 500;
  letter-spacing: 2px;
}

.sans-link {
  position: relative;
  color: $blue-light;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.active { color: $grey-dark; }

.detail-content {
  font-size: calc(22px + (24 - 22) * (100vw - 320px) / (1024 - 320));
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 5px;
}

.detail-title { color: $blue; }
.detail-subtitle { color: $grey-light; }

.self-statement { 
  color: $grey-light;
  font-style: italic;
  line-height: $line-height-small;
}

// Images and SVGs
.airline-svg,
.guides-svg {
  max-width: 65%;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  object-fit: contain;
}

.airline-svg,
.guides-svg { max-height: 40px; }

.airline-svg { transition: transform 0.1s ease-in; }

.malaysia-airlines { 
  margin-bottom: 2rem; 

  @media screen and (min-width: $tablet) { margin-bottom: 0; }
}

.singapore-airlines {
  margin-bottom: 4rem;

  @media screen and (min-width: 450px) {
    margin-bottom: 2rem;
  }
}


.malindo-airlines { 
  width: auto;
  height: auto;
  max-height: 60px;
  margin-bottom: 1rem;

  @media screen and (min-width: $tablet) { margin-bottom: 0; }
}

.guides-svg {
  margin-bottom: 6rem;

  @media screen and (min-width: 450px) { 
    margin-bottom: 4rem;
  }

  @media screen and (min-width: $tablet) { 
    margin-bottom: 0;
  }
}

.lonelyplanet-svg { max-height: 50px; }

// Desktop Nav
.desktop-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: $white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07);

  @media (max-width: $tablet - 1px) {
    display: none !important;
  }
}

.desktop-nav-list {
  width: 100%;
  max-width: 1000px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
  padding: 0;
  list-style-type: none;

  .scroll-link {
    margin-right: 5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu-icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1.5rem;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem;
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: $white;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-nav-list {
  list-style-type: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30% auto 0;
}

.mobile-nav-list-item {
  text-align: center;
  margin-bottom: 15%;

  &:last-child {
    margin-bottom: 0;
  }

  .nav-link {
    font-size: $font-large;
  }
}

.show-menu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

// Above the fold section
.atf {
  padding-top: 10rem;

  @media screen and (min-width: $tablet) {
    padding-top: 15rem;
  }
}

.atf-headline-wrapper {
  display: block;
  text-align: center;

  .display-sans:first-of-type {
    margin-right: 10%;

    @media screen and (min-width: 450px) { 
      margin-right: 6rem;
    }
  }

  .display-sans:last-of-type {
    margin-left: 10%;

    @media screen and (min-width: 450px) {
      margin-left: 6rem;
    }
  }
}

// Above the fold section - headlines
.headline {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 7rem;
}

.display-serif,
.display-sans {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.display-serif {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  font-size: calc(15px + (16 - 15) * (100vw - 320px) / (1024 - 320));
  font-weight: 700;
}

.display-sans { 
  font-family: $font-sans;
  font-size: calc(24px + (32 - 24) * (100vw - 320px) / (1024 - 320));
  font-weight: 300;
}

.display-ampersand {
  font-size: calc(54px + (72 - 54) * (100vw - 320px) / (1024 - 320));
  font-weight: 700;
  font-style: italic;
}

.atf-all-photo-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.atf-photo-small-wrapper {
  width: 100%;
  display: block;
  line-height: 1rem;
}

.atf-photo-small {
  width: 100%;
  height: 100%;
  max-height: 25rem;
  margin-bottom: 2rem;

  @media screen and (min-width: 375px) {
    max-height: 30rem;
  }

  @media screen and (min-width: 450px) {
    width: calc(50% - 2px - 1rem);
    display: inline-block;

    &:nth-child(1) { margin-right: 1rem; }
    &:nth-child(2) { margin-left: 1rem; }
  }

  @media screen and (min-width: $desktop) {
    max-height: 25rem;

    &:nth-child(1) { 
      width: calc(33.2% - 2px - 1rem); 
    }

    &:nth-child(2) {
      width: calc(33.2% - 2px - 2rem);
      margin-right: 1rem; 
    }

    &:nth-child(3) { 
      width: calc(33.2% - 2px - 1rem);
      margin-left: 1rem; 
    }
  }
}

.atf-photo-third {
  width: 100%;
  object-position: bottom;

  @media screen and (min-width: 450px) { 
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
  }
}

.atf-photo-forth {
  width: 100%;
  height: 100%;
  max-height: 32rem;
  margin: 0 auto;

  @media screen and (min-width: 450px) { 
    max-height: 37.5rem;
  }

  @media screen and (min-width: 1024px) {
    width: 75%;
    display: block;
    margin: 0 auto;
  }
}

// Bride and Groom section
.bride-and-groom { 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  -webkit-align-items: center; 
      -ms-flex-align: center; 
          align-items: center;
}

.bride-and-groom-half {
  width: 100%;

  &:first-child { margin-bottom: 2rem; }

  @media screen and (min-width: 450px) { 
    width: 48%; 
  }
}

// Proposal section
.proposal {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;

  @media screen and (min-width: 450px) { 
    -webkit-align-items: center; 
        -ms-flex-align: center; 
            align-items: center;
  }
}

.proposal-title {
  &::after {
    left: auto;
    right: 0;

    @media screen and (min-width: 450px) { 
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
}

.proposal-statements-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proposal-statement-half {
  width: 100%;

  @media screen and (min-width: 450px) { 
    width: 48%;
  }

  &:first-child { 
    text-align: right; 

    .proposal-statement-content {
      margin-bottom: 4rem;
    }
  }
}

.proposal-name {
  margin: 0 0 0.5rem 0;
  color: $blue;

  @media screen and (min-width: 450px) { 
    margin: 0 0 1.5rem 0;
  }
}

.proposal-statement-content {
  margin-bottom: 2rem;

  @media screen and (min-width: 450px) { 
    margin-bottom: 5rem;
  }
}

.proposal-photo-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 2rem;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.proposal-photo {
  width: calc(50% - 1rem);
  max-width: 100%;
  min-height: 13rem;
  max-height: 13rem;
  margin-bottom: 2rem;
  vertical-align: top;

  &:nth-child(odd) { margin-right: 2rem; }
  &:nth-child(even) { margin-left: -4px; }

  @media screen and (min-width: 375px) {
    min-height: 15rem;
    max-height: 15rem;
  }

  @media screen and (min-width: $tablet) {
    min-height: 30rem;
    max-height: 30rem;
  }
}

@media screen and (min-width: $desktop) {
  .proposal-photo-one {
    width: 10rem;
    min-height: auto;
    max-height: 10rem;
  }
  
  .proposal-photo-two {
    width: 20rem;
    min-height: auto;
    margin-right: 2rem;
  }

  .proposal-photo-three {
    width: 20rem;
    min-height: auto;
    margin-left: -4px;
  }

  .proposal-photo-four {
    width: 24rem;
    min-height: auto;
  }
}

// Wedding section 
.wedding {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wedding-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wedding-sub-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

// Getting there
.getting-there {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.getting-there-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.getting-there-text-content {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  p:nth-child(odd) { margin-bottom: 0.5rem; }
  p:nth-child(even) { margin-bottom: 3rem; }

  @media screen and (min-width: 450px) { 
    width: 65%;
  }
}

.getting-there-airlines {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 0 0;

  @media screen and (min-width: 450px) {
    width: 35%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 1rem 0;
  }

  @media screen and (min-width: $tablet) {
    width: 30%;
    margin: 0;
    padding: 4rem 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 3rem 0 6rem;
  }
}

.airline-link-wrapper { 
  width: 100%; 
  margin-bottom: 4rem;

  &:last-child { margin-bottom: 0; }

  &:hover > .airline-svg { transform: scale(1.15); }

  @media screen and (min-width: $tablet) { margin-bottom: 0; }
}

// Things to do section
.things-to-do {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.things-to-do-message {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;

  p { margin-bottom: 0.5rem; }

  @media screen and (min-width: 450px) { 
    width: 65%;
    margin-bottom: 8rem;
  } 

  @media screen and (min-width: $tablet) {
    width: 70%;
  }  
}

.guides {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid $grey-border;
  padding: 8rem 0;

  @media screen and (min-width: 450px) { 
    -webkit-flex-direction: row; 
        -ms-flex-direction: row; 
            flex-direction: row;
    padding: 4rem 2rem 4rem 0;
  }

  @media screen and (min-width: $tablet) { 
    padding: 4rem 6rem 4rem 0;
  }
}

.guide-image {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

  @media screen and (min-width: 450px) { 
    width: 35%; 
  }
}

.guide-description {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  p { margin-bottom: 1rem; }

  @media screen and (min-width: 450px) { 
    width: 65%;
  }
}

// Share the love section 
.share-the-love {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10rem 0 5rem;

  @media screen and (min-width: $tablet) { padding-bottom: 17rem; }
  @media screen and (min-width: $desktop) { padding-bottom: 15rem; }

  .display-serif:first-of-type {
    margin-bottom: 4rem;
  }

  .headline {
    margin-top: 3rem;
    margin-bottom: 9rem;
  }

  .display-sans:first-of-type {
    margin-right: 10%;

    @media screen and (min-width: 450px) { 
      margin-right: 6rem;
    }
  }

  .display-sans:last-of-type {
    margin-left: 10%;

    @media screen and (min-width: 450px) { 
      margin-left: 6rem;
    }
  }
}

.social {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  .sans-link {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    margin-bottom: 4rem;
  }

  @media screen and (min-width: 450px) {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

// Nav Link
.nav-link {
  font-size: $font-small;
  border-bottom: none;
  padding: 0;

  &:after {
    display: none;
  }
}

.overflow-hidden { overflow: hidden; }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

::-moz-selection {
  color: #ffffff;
  background-color: $grey-dark;
}

::selection {
  color: #ffffff;
  background-color: $grey-dark;
}

img {
  max-width: 100%;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  object-fit: cover;
}
