// ––––––––––––––––––––––––––––––––––––
// Miscellaneous
// - section-title divider
// - overflow
// - ::selection
// - image
// ––––––––––––––––––––––––––––––––––––

// Desktop Navbar
.desktop-navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: $white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07);

  @media (max-width: $tablet) {
    display: none !important;
  }

}

.desktop-navbar-list {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  padding: 0;
  list-style-type: none;
}

// Headline Section
.headline {
  position: relative;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 5rem;
}

.display-serif,
.display-sans {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.display-serif {
  align-self: center;
  font-size: calc(15px + (16 - 15) * (100vw - 400px) / (1024 - 400));
  font-weight: 700;
}

.display-sans { 
  font-family: $font-sans;
  font-size: calc(24px + (32 - 24) * (100vw - 400px) / (1024 - 400));
  font-weight: 300;
}

.display-ampersand {
  font-size: calc(50px + (72 - 50) * (100vw - 400px) / (1024 - 400));
  font-weight: 700;
  font-style: italic;
}

// Above The Fold
.atf-photo {
  height: 100%;
  max-height: 300px;
}

.atf-photo-large {
  height: 100%;
  max-height: 400px;
}

// Type Settings
.section-title {
  position: relative;
  margin: 0 0 3.5rem;
  padding-bottom: 1rem;
  color: $grey;
  font-size: calc(23px + (25 - 23) * (100vw - 400px) / (1024 - 400));
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $grey-lightest;
  }
}

.title-center::after { 
  left: 50%;
  transform: translateX(-50%);
}

.proposal-name,
.sans-link,
.detail-title,
.detail-content {
  font-family: $font-sans;
  text-transform: uppercase;
}

.proposal-name,
.sans-link,
.detail-title {
  font-size: $font-base;
  font-weight: 500;
  letter-spacing: 2px;
}

.sans-link {
  position: relative;
  color: $blue-light;
  align-self: flex-start;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    border-bottom: 1px solid $grey-dark;
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0.2em);   
  }
}

.active { color: $grey-dark; }

.detail-content {
  font-size: calc(20px + (24 - 20) * (100vw - 400px) / (1024 - 400));
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 5px;
}

.personal-statement { 
  color: $grey-light;
  font-style: italic;
  line-height: $line-height-small;
}

.guides {
  border-top: 1px solid $grey-border;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

// Images and SVGs
.airline-svg,
.guides-svg {
  max-width: 55%;
  height: auto;
  width: auto;
  box-shadow: none;
  object-fit: contain;
}

.airline-svg,
.guides-svg { max-height: 40px; }
.lonelyplanet-svg { max-height: 50px; }

.malindo-airlines { 
  width: auto;
  height: auto;
  max-height: 60px;
  align-self: center;
}

// Navbar Link
.navbar-link {
  font-size: $font-small;
  border-bottom: none;
  padding: 0;

  &:after {
    display: none;
  }
}

.overflow-hidden { overflow: hidden; }

::selection {
  color: #ffffff;
  background-color: $grey-dark;
}

img {
  max-width: 100%;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  object-fit: cover;
}

