// ––––––––––––––––––––––––––––––––––––
// Sizes
// - height
// - width
// ––––––––––––––––––––––––––––––––––––

// General Width
.w35          { width: 35%; }
.w46          { width: 46%; }
.w50          { width: 50%; }
.w65          { width: 65%; }
.w100         { width: 100%; }
.max-w115px   { max-width: 115px; }
.max-w840px   { max-width: 840px; }
.max-w1000px  { max-width: 1000px; }

// General Height 
.min-h100     { min-height: 100%; }

// Image Sizes
.w100px       { width: 100px; }
.h200px       { height: 200px; }

// Responsive Width
@media screen and (min-width: $tablet) {
  .sm-w-32    { width: 32%; }
  .sm-w-45    { width: 45%; }
  .sm-w-50    { width: 50%; }
  .sm-w-60    { width: 60%; }
  .sm-w-auto  { width: auto; }

  .sm-h-450px { height: 450px; }
  .sm-min-h-300px { min-height: 300px; }
}
