// ––––––––––––––––––––––––––––––––––––
// Type Helper
// - letter-spacing
// - text-align
// - text-transform
// - text-decoration
// - font-style
// - font-weight
// ––––––––––––––––––––––––––––––––––––

// Letter Spacing
.spaced         { letter-spacing: 2px; }
.spaced-large    { letter-spacing: 5px; }

// Text Align
.center         { text-align: center; }
.left-align     { text-align: left; }
.right-align    { text-align: right; }

// Text Transform
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

// Text Decoration
// This is supposed to be text-decoration
// But spacing with text-decoration is messed up
// So we use border-bottom
.underline { border-bottom: 1px solid; }

// Font Style
.italic { font-style: italic; }

// Font Weight
.light   { font-weight: 300; }
.regular { font-weight: 400; }
.medium  { font-weight: 500; }
.bold    { font-weight: 700; }

