// ––––––––––––––––––––––––––––––––––––
// Variables
// ––––––––––––––––––––––––––––––––––––

// Colors
$white:                   #FFFFFF;
$blue:                    #3668A3;
$blue-light:              #97AFD0;
$grey-dark:               #404A57;
$grey:                    #69798F;
$grey-light:              #8891AD;
$grey-lightest:           #E0EDFF;
$grey-border:             #F0F0F0;

// Font Sizes
$font-base:               1.5rem; // 15px
$font-small:              $font-base * 0.875; // 13.125px
$font-large:              $font-base * 1.25;  // 18.75px

// Font Weight
$font-sans:               "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif:              "freight-display-pro", Georgia, "Times New Roman", Times, serif;

// Line Height
$line-height-base:        1.5;
$line-height-small:       1.375;

// Breakpoint Size
$tablet:                  768px;
$desktop:                 1024px;
