/ Robots
%meta{ name: "robots", content: "all" }
%meta{ name: "location", content: "Brisbane, Australia" }
%meta{ name: "revisit-after", content: "2 days" }

/ SEO
%meta{ name: "author", content: "Yanni and Felix" }
%meta{ name: "description", content: "Yanni and Felix Wedding Website – Share the love! 👫 Wedding Ceremony on 1/7/17" }
%meta{ name: "keywords", content: "yanni, felix, yanni and felix, felix and yanni, couple, wedding, marriage, love, wedding website, marriage website" }

/ Twitter Card data
%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@im_felix" }
%meta{ name: "twitter:creator", content: "@im_felix" }
%meta{ name: "twitter:title", content: "Yanni and Felix 👫" }
%meta{ name: "twitter:description", content: "Yanni and Felix Wedding Website – Share the love! 👫 Wedding Ceremony on 1/7/17" }
%meta{ name: "twitter:image", content: "https://github.com/imfelix/yanniandfelix/blob/master/source/assets/images/twitter-summary-card.png?raw=true" }

/ Facebook Card data
%meta{ property: "og:title", content: "Yanni and Felix 👫" }
%meta{ property: "og:type", content: "website" }
/ TODO Update URL
%meta{ property: "og:url", content: "" }
%meta{ property: "og:site-name", content: "Yanni and Felix 👫" }
%meta{ property: "og:description", content: "Yanni and Felix Wedding Website – Share the love! 👫 Wedding Ceremony on 1/7/17" }
/ TODO Update Summary Card
%meta{ property: "og:image", content: "https://github.com/imfelix/yanniandfelix/blob/master/source/assets/images/twitter-summary-card.png?raw=true" }
%meta{ property: "og:image:type", content: "image/png" }
%meta{ property: "og:image:width", content: "1200" }
%meta{ property: "og:image:height", content: "642" }
